@page "/spellbook"
@using dnd_utils.Services
@using dnd_utils.Models
@using Blazored.LocalStorage
@using BlazorDownloadFile
@using System.Text.Json

@inject SearchService SearchService
@inject SpellService SpellService
@inject ISnackbar Snackbar
@inject ILocalStorageService Storage
@inject IDialogService DialogService
@inject IBlazorDownloadFileService DownloadService

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h2">
        D&D Spell Book Builder
    </MudText>
</MudContainer>

@if (_savedBooks.Any())
{
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h4">Load Saved Character</MudText>
        <MudItem xs="12" sm="12">
            <MudPaper Class="pa-4">
                <div class="d-flex">
                    <MudSelect
                        T="Spellbook"
                        @bind-Value="_book"
                        Label="Spellbook"
                        SelectedValuesChanged="async () => { await LoadBook(); }"
                        AnchorOrigin="Origin.BottomCenter">
                        @foreach (var book in _savedBooks)
                        {
                            <MudSelectItem T="Spellbook" Value="@book"/>
                        }
                    </MudSelect>
                    <MudSpacer/>
                    <MudButton
                        @onclick="DownloadCurrentBook"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        >
                        Import
                    </MudButton>
                    <MudSpacer/>
                    <MudButton
                        @onclick="DownloadCurrentBook"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Disabled="@(_book == null)">
                        Download
                    </MudButton>
                </div>
            </MudPaper>
        </MudItem>
    </MudContainer>
    <br/>
}

@if (_classes != null)
{
    var checkIcon = _allowSpellsFromOtherLists ? Icons.Material.Filled.Check : Icons.Material.Filled.Close;

    <MudContainer MaxWidth="MaxWidth.Large">
        <MudItem xs="12" sm="12">
            <MudPaper Class="pa-4">
                <div class="d-flex">
                    <MudTextField
                        @bind-Value="_characterName"
                        Label="Character Name"
                        Variant="Variant.Text"/>
                    <MudSpacer/>
                    <MudSelect
                        T="string"
                        @bind-Value="_className"
                        SelectedValuesChanged="async () => { await GetSpellSlots(); }"
                        Label="Class"
                        AnchorOrigin="Origin.BottomCenter">
                        @foreach (var name in _classes)
                        {
                            <MudSelectItem T="string" Value="@name"/>
                        }
                    </MudSelect>
                    <MudSpacer/>
                    <MudNumericField
                        @bind-Value="_characterLevel"
                        TextChanged="async (x) => { await LevelChanged(x); }"
                        Label="Character Level"
                        Variant="Variant.Text"
                        Min="1" Max="20"/>
                    <MudSpacer/>
                    <MudNumericField
                        @bind-Value="_characterStatValue"
                        TextChanged="async (x) => { await StatChanged(x); }"
                        Label="Casting Stat Value"
                        Variant="Variant.Text"
                        Min="1" Max="30"/>
                    <MudSpacer/>
                    <MudButton EndIcon="@checkIcon" OnClick="ToggleChanged">All spell lists</MudButton>
                    <MudSpacer/>
                    <MudButton
                        Variant="Variant.Filled"
                        Color="Color.Success"
                        StartIcon="@Icons.Material.Filled.Save"
                        OnClick="SaveBook">
                        Save Spellbook
                    </MudButton>
                </div>
            </MudPaper>
        </MudItem>
    </MudContainer>
}
@if (_book != null && _spellSlots != null && _spellsKnown != null)
{
    var cantripSubtract = _book.SpellsForLevel.ContainsKey(0) ? _book.SpellsForLevel[0].Count : 0;
    var spellCount = _book.SpellsForLevel.Values.Sum(list => list.Count) - cantripSubtract;

    <br/>
    <LimitedSpellSearchBar ParentMethod="@Refresh" SpellsPerLevel="_book.SpellsForLevel" Spells="_possibleSpellsForCharacter"/>
    <br/>
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h4">Max Spells Known: @_spellsKnown</MudText>
        <div class="d-flex">
            <MudText Typo="Typo.h5">Spells Known: @spellCount</MudText>
            @if (spellCount > _spellsKnown)
            {
                <MudTooltip Text="You've added more than your max! This is okay, since subclasses have expanded spell lists, but be careful!">
                    <MudIcon Icon="@Icons.Material.Filled.WarningAmber" Color="Color.Warning"/>
                </MudTooltip>
            }
        </div>
    </MudContainer>
    <br/>
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudItem xs="12" sm="12">
            <MudPaper Class="pa-4">
                <MudExpansionPanels MultiExpansion="true">
                    @foreach (var key in _spellSlots.Keys)
                    {
                        var levelText = key == 0 ? "Cantrip" : $"Level {key}";
                        var slotText = key == 0 ? "Known: " : "Slots: ";

                        <MudExpansionPanel DisableBorders="true">
                            <TitleContent>
                                <div class="d-flex">
                                    <MudText Class="mt-1">@levelText</MudText>
                                    @if (_spellSlots[key] != 0)
                                    {
                                        <MudText Class="d-flex ml-auto">@slotText @_spellSlots[key]</MudText>
                                    }
                                </div>
                            </TitleContent>
                            <ChildContent>
                                @if (_book.SpellsForLevel[key].Any())
                                {
                                    <MudTable Items="@_book.SpellsForLevel[key]" RowsPerPage="8" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                                        <HeaderContent>
                                            <MudTh>Name</MudTh>
                                            <MudTh Style="width: 10%">View</MudTh>
                                            <MudTh Style="width: 10%">Remove</MudTh>
                                        </HeaderContent>
                                        <RowTemplate>
                                            <MudTd>
                                                @context.Name
                                            </MudTd>
                                            <MudTd>
                                                <MudIconButton
                                                    Icon="@Icons.Material.Filled.RemoveRedEye"
                                                    Color="Color.Primary"
                                                    Variant="Variant.Filled"
                                                    OnClick="async () => { await ViewSpell(context.Name, context.SpellId); }"/>
                                            </MudTd>
                                            <MudTd>
                                                <MudIconButton
                                                    Icon="@Icons.Material.Filled.Close"
                                                    Color="Color.Error"
                                                    Variant="Variant.Filled"
                                                    OnClick="() => { _book.SpellsForLevel[key].Remove(context); }"/>
                                            </MudTd>
                                        </RowTemplate>
                                    </MudTable>
                                }
                            </ChildContent>
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudPaper>
        </MudItem>
    </MudContainer>
}

@code {
    private string? _characterName;
    private string? _className;

    private int _characterLevel = 1;
    private int? _characterStatValue;
    private int? _spellsKnown;
    private Dictionary<int, int>? _spellSlots;
    private Spellbook? _book;

    private List<Spell> _possibleSpellsForCharacter = new();
    private List<string> _savedCharacterNames = new();
    private List<string>? _classes;
    private List<Spellbook> _savedBooks = new();

    private bool _allowSpellsFromOtherLists = false;

    private async Task GetSpellSlots()
    {
        if (_className != null)
        {
            var allSlots = await SearchService.GetSpellSlotsForClass(_className);
            _spellSlots = allSlots[_characterLevel];

            await LoadSpells(_spellSlots.Keys.Max());

            _book ??= new Spellbook();
            _book.Class = _className;
            _book.SlotsForLevel = _spellSlots;

            foreach (var slot in _spellSlots.Keys.Where(slot => !_book.SpellsForLevel.ContainsKey(slot)))
            {
                _book.SpellsForLevel[slot] = new List<Spell>();
            }
        }
    }

    private async Task LoadBook()
    {
        if (_book != null)
        {
            _className = _book.Class;
            _characterLevel = _book.Level;
            _characterName = _book.Name;
            _characterStatValue = _book.CastingStatValue;
        }

        await GetSpellSlots();
    }

    private async Task ToggleChanged()
    {
        _allowSpellsFromOtherLists = !_allowSpellsFromOtherLists;
        await LoadSpells(_characterLevel);
    }

    private async Task StatChanged(string statText)
    {
        if (_className == null)
        {
            Snackbar.Add("Please select a class first", Severity.Error);
            return;
        }

        if (int.TryParse(statText, out var parsedInt))
        {
            _characterStatValue = parsedInt;
        }

        _spellsKnown = SpellService.GetNumberOfKnownSpells(_className, _characterLevel, _characterStatValue ?? 0);

        await GetSpellSlots();
    }

    private async Task LevelChanged(string levelText)
    {
        if (int.TryParse(levelText, out var parsedInt))
        {
            _characterLevel = parsedInt;
        }

        await GetSpellSlots();
    }

    private async Task LoadSpells(int maxLevel)
    {
        var allSpells = await SearchService.GetAllSpells();

        _possibleSpellsForCharacter = allSpells.Where(x => x.Level <= maxLevel).ToList();

        if (!_allowSpellsFromOtherLists)
        {
            _possibleSpellsForCharacter = _possibleSpellsForCharacter
                .Where(x => x.InLists.Contains(_className))
                .ToList();
        }
    }

    private async Task SaveBook()
    {
        if (_characterName != null && _className != null && _characterStatValue != null && _book != null)
        {
            if (!_savedCharacterNames.Contains(_characterName))
            {
                _savedCharacterNames.Add(_characterName);
                await Storage.SetItemAsync("savedcharacters", _savedCharacterNames);
            }

            _book.Name = _characterName;
            _book.Class = _className;
            _book.Level = _characterLevel;
            _book.CastingStatValue = _characterStatValue;
            await Storage.SetItemAsync($"{_characterName}_book", _book);

            Snackbar.Add($"Spellbook \"{_characterName}\" has been saved", Severity.Success);

            return;
        }

        Snackbar.Add("Could not save, make sure you have entered a name, class, and at least one spell", Severity.Warning);
    }

    public void Refresh()
    {
        StateHasChanged();
    }

    private async Task ViewSpell(string name, int spellId)
    {
        var spell = await SearchService.GetSpell(name);
        var parameters = new DialogParameters { { "Spell", spell }, { "SpellId", spellId } };
        var options = new DialogOptions { MaxWidth = MaxWidth.Large, FullWidth = true };

        await DialogService.ShowAsync<SpellDialog>("", parameters, options);
    }

    private async Task DownloadCurrentBook()
    {
        if (_book == null || _characterName == null)
        {
            Snackbar.Add("Please make sure all fields are entered", Severity.Warning);
            return;
        }

        await PopulateSpells();
        var text = JsonSerializer.Serialize(_book);
        await DownloadService.DownloadFileFromText($"{_characterName.ToLower().Replace(" ", "")}_book.json", text, System.Text.Encoding.UTF8, "application/octet-stream");
    }

    private async Task PopulateSpells()
    {
        if (_book == null)
        {
            Snackbar.Add("An error occured, book is null", Severity.Warning);
            return;
        }

        foreach (var spell in _book.SpellsForLevel.Keys.SelectMany(level => _book.SpellsForLevel[level]))
        {
            spell.PageContent = (await SearchService.GetSpell(spell.Name)).PageContent;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _classes = await SearchService.GetClassList();

            if (await Storage.ContainKeyAsync("savedcharacters"))
            {
                _savedCharacterNames = await Storage.GetItemAsync<List<string>>("savedcharacters");
            }

            if (_savedCharacterNames.Any())
            {
                foreach (var name in _savedCharacterNames)
                {
                    _savedBooks.Add(await Storage.GetItemAsync<Spellbook>($"{name}_book"));
                }
            }
        }
        catch (Exception e)
        {
            Snackbar.Add("An error occured collecting data, please refresh!");
        }
    }

}