@page "/multi"
@using dnd_utils.Models
@using dnd_utils.Services
@inject MonsterService MonsterService

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h2">
        D&D Multi-Monster Info Generator
    </MudText>
    <MudDivider/>
    <MudText Typo="Typo.body1">
        Are you tired of manually rolling all 30 of those pesky goblin's initiatives? Want to switch it up and have their HP be randomized instead of just using what's in the book?
    </MudText>
    <MudText Typo="Typo.body1">
        This tool gets rid of all the hastle! Just fill out the information, and it'll shoot out a list of creatures with randomized initiative and HP (sorted by initiative, decending).
    </MudText>
</MudContainer>
<br/>
<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudPaper Class="pa-4">
                <MudForm @ref="form">
                    <div class="d-flex">
                        <MudTextField T="string" Label="Name" Required="true" RequiredError="Name is required!" @ref="_name"/>
                        <MudSpacer/>
                        <MudTextField T="int" Label="Number" Required="true" RequiredError="Number is required!" @ref="_number"/>
                    </div>
                    <br/>
                    <div class="d-flex">
                        <MudTextField T="int" Label="Init Mod" Required="true" RequiredError="Initiative mod is required!" @ref="_initMod"/>
                        <MudSpacer/>
                        <MudTextField T="int" Label="AC" Required="true" RequiredError="Armor class is required!" @ref="_ac"/>
                        <MudSpacer/>
                        <MudTextField T="int" Label="Passive" Required="true" RequiredError="Passive perception is required!" @ref="_passive"/>
                    </div>
                    <br/>
                    <div class="d-flex">
                        <MudTextField T="int" Label="HitDieNum" Required="true" RequiredError="Number of hit die is required!" @ref="_hitDieNum"/>
                        <MudSpacer/>
                        <MudTextField T="int" Label="HitDieType" Required="true" RequiredError="Hit die type is required!" @ref="_hitDieType"/>
                        <MudSpacer/>
                        <MudTextField T="int" Label="HitDieMod" Required="true" RequiredError="Hit die mod is required!" @ref="_hitDieMod"/>
                    </div>
                </MudForm>
            </MudPaper>
            <MudPaper Class="pa-4 mt-4">
                <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Draw" OnClick="GetMonsters">Generate!</MudButton>
                <MudTooltip Text="Coming soon!">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save" Disabled="true">Download CSV</MudButton>
                </MudTooltip>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Error" OnClick="ClearMonsters">Clear</MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudTable Items="@_monsters" Breakpoint="Breakpoint.Md">
                    <HeaderContent>
                        <MudTh>Initiative</MudTh>
                        <MudTh>Name</MudTh>
                        <MudTh>AC</MudTh>
                        <MudTh>Passive</MudTh>
                        <MudTh>HP</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@context.Initiative</MudTd>
                        <MudTd>@context.Name</MudTd>
                        <MudTd>@context.ArmorClass</MudTd>
                        <MudTd>@context.PassivePerception</MudTd>
                        <MudTd>@context.HitPoints</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    MudForm form;

    private MudTextField<string> _name;
    private MudTextField<int> _number;
    private MudTextField<int> _initMod;
    private MudTextField<int> _ac;
    private MudTextField<int> _passive;
    private MudTextField<int> _hitDieNum;
    private MudTextField<int> _hitDieType;
    private MudTextField<int> _hitDieMod;

    private List<Monster> _monsters = new();

    private void GetMonsters()
    {
        if (ValidateInput())
            _monsters = MonsterService.GenerateMonsters(_name.Value, _number.Value, _passive.Value, _initMod.Value,
                _ac.Value, _hitDieType.Value, _hitDieNum.Value, _hitDieMod.Value);
    }

    private void DownloadCsv()
    {
    }

    private void ClearMonsters()
    {
        _monsters.Clear();
    }

    private bool ValidateInput()
    {
        return _name.Value != null;
    }

}